click
Flask
Flask-Cors
Flask-Login
Flask-SQLAlchemy
Flask-WTF
flask_migrate
greenlet
itsdangerous
Jinja2
MarkupSafe
python-dotenv
six
SQLAlchemy
Werkzeug
wtf
WTForms
email_validator
mpld3
pymysql
redis
rq
Flask-Admin