<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Required external Javascript -->
    <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>

    <!-- Our own js-file-->
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}">
    </script>

    <!-- Our own css-file-->
    <link rel="stylesheet" 
          type="text/css"
          href="{{ url_for('static', filename='index.css') }}">

    <title>{% block title %}Home{% endblock %}</title>
  </head>

  <body>
    <div>
        {% if user.is_authenticated %}
        <a href="/">Home</a>
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/login">Login</a>
        <a href="/sign-up">Sign Up</a>
        {% endif %}
    </div>
    <hr>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} 
    {% endfor %} 
    {% endif %} 
    {% endwith %}

    <div class="container-fluid">{% block content %} {% endblock %}</div>

  </body>
</html>
