{% extends "base.html" %}
{% block title %}
Sign Up
{% endblock %} 

{% block content %}

<div class="row" id="div-home">
  
  <div class="column left" style="background-color:#aaa;">
    <b>My scripts</b>

    <select multiple size="10" id="select-userscripts">
    {% if user.is_authenticated %}
      {% for script in user.scripts %}
        <option value={{ script.id }}>{{ script.name }}</option>
      {% endfor %}
    {% endif %}
    </select>
    
    {% if user.is_authenticated %}
      <button type="button" id="button-createscript">Create New Script</button>
      <button type="button" id="button-deletescript">Delete Selected</button>  
    {% else %}
      <a href="/login">Login</a> to be able to create your own scripts here.
    {% endif %}

  </div>

  <div class="column middle">
    <div>

      <div id="div-scriptname">
        <label for="input-scriptname">Name of script:&nbsp;</label>
        <input id="input-scriptname" maxlength="50" minlength="3" type="text" value="" required>
      </div>
      
      <!-- <div style="display: flex;"></div> -->
      <div style="display: flex;">
        <!-- <label for="textarea-code">Code:</label><br> -->
        <textarea id='linecounter' wrap='off' readonly>1</textarea>
        <textarea id="textarea-code" maxlength="10000" wrap="off"></textarea>
      </div>

      <div>
          <button type="button" id="button-savescript">Save</button>
          <button type="button" id="button-run">Run</button>
      </div>
      
    </div>
  </div>
  
  <div class="column right" style="background-color:#ccc;">
    <div id="plotarea">
      <!-- This is where the plots appear -->
    </div>
  </div>

</div>


<!-- ======================================================================= -->
<hr>


<div class="row">
  
  <div class="column left" style="background-color:#aaa;">
    <b>Demo scripts</b>

    <select size="10" id="select-examplescripts">
      {% for name in example_script_names %}
        <option value={{ loop.index }}>{{ name }}</option>
      {% endfor %}
    </select>

  </div>

  <div class="column middle">
    <div id="div-script">
      
      <div>
        <label for="textarea-code-example">Code:</label><br>              
        <textarea id="textarea-code-example" readonly></textarea>
      </div>

      <div>
          <button type="button" id="button-run-example">Run</button>
      </div>

    </div>
  </div>
  
  <div class="column right" style="background-color:#ccc;">
    Right column 2
  </div>

</div>


{% endblock %}
