{# {% extends "base.html" %} #}
{% block title %}Learning Simulator{% endblock %}
{% block content %}


<div class="content-section">
    <form method="POST" action="{{ url_for('views.run') }}">
        {{ form.hidden_tag() }}  <!-- form.csrf_token -->
        <fieldset class="form-group">
            <!-- ['label', 'description', 'script'] -->
            {% for key in ['script'] %}
            <div class="form-group">
                {{ form[key].label(class="form-control-label") }}
                {% if form[key].errors %}
                    {{ form[key](class="form-control form-control-sm is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form[key].errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form[key](class="form-control") }}
                {% endif %}
            </div>
            {% endfor %}

        </fieldset>

        <div align="center">
            <!-- <a href="{{ url_for('views.home') }}" class="btn btn-secondary" role="button" aria-pressed="true">Cancel</a> -->
            <button type="submit" class="btn btn-primary">Run</button>
        </div>

    </form>
</div>


{# <div id="plotarea" style="width:900px;height:400px;"></div> #}
<p id="plotarea">
</p>

<script>
    const plotarea = document.getElementById("plotarea");

    {% if postcmds %}
        const ydata = {{ postcmds[2].ydata_list[0] | tojson | safe }};
        const N = ydata.length;

        // Create xdata = [1, 2, 3, ..., N]
        var xdata = [];
        for (var i = 1; i <= N; i++) {
            xdata.push(i);
        }
        
        var line1 = {
            x: xdata,
            y: ydata
        };
        var data = [line1];
        var layout = {
            title:'Title',
            margin: { t: 0 }
        };
	    Plotly.newPlot(plotarea, data, layout);

    {% else %}
        Plotly.purge("plotarea");
    {% endif %}

</script>



<!-- ======================================================================================================================= -->




<h1 align="center">Online Learning Simulator</h1>

<hr />

<div class="container-fluid">
  <div class="row">
    <div class="resizable_e" id="left-column">

      {# <h2>Public scripts
      </h2>

        <div id="treeview_container" class="hummingbird-treeview" style="height: 300px; overflow-y: scroll; border:1px solid black;">
          <ul id="treeview" class="hummingbird-base">
            <li data-id="0">
              <i class="fa fa-plus"></i>
              <label>
                The Great Acceleration Data
                <!-- <input id="xnode-0" data-id="custom-0" type="checkbox" /> The Great Acceleration Data (October 2014) -->
              </label>
              <ul>
                {% set cnt = [1] %}  <!-- [1] instead of 1: workaround for Jinja2 scope -->
                {% for g in ["Population", "Real GDP", "FDI", "Urban population", "Fertilizer consumption",
                             "Large dams", "Water use", "Paper production", "Transportation", "Telecommunications"] %}
                  <li data-id="1">
                    <i class="fa fa-plus"></i>
                    <label>
                      <input id="xnode-0-1" data-id="custom-0-1" type="checkbox" /> {{g}}
                    </label>
                    <ul>
                      
                      {% for gg in ["OECD", "BRICS", "Rest", "World"] %}
                        <li>
                          <label>
                            <input class="hummingbird-end-node" id={{'predef' ~ cnt[0]|string}} type="checkbox" /> {{gg}}
                          </label>
                        </li>
                        {% if cnt.append(cnt.pop() + 1) %}{% endif %}  <!-- Instead of cnt=cnt+1: workaround for Jinja2 scope -->
                      {% endfor %}

                    </ul>
                  </li>
                {% endfor %}

                <li> <!-- data-id="1" -->
                  <label>
                    <input class="hummingbird-end-node" id={{'predef' ~ cnt[0]|string}} type="checkbox" /> Primary energy use
                  </label>
                </li>

              </ul>
            </li>

            {% if cnt.append(cnt.pop() + 1) %}{% endif %}  <!-- Instead of cnt=cnt+1: workaround for Jinja2 scope -->

            <li data-id="1">
              <i class="fa fa-plus"></i>
              <label>
                Fecal microbiota transplant
                <!-- <input id="xnode-0" data-id="custom-0" type="checkbox" /> The Great Acceleration Data (October 2014) -->
              </label>
              <ul>
                <li data-id="2">
                  <label>
                    <input class="hummingbird-end-node" id={{'predef' ~ cnt[0]|string}} type="checkbox" /> Procedures
                  </label>
                </li>
              </ul>
            </li>

          </ul>
        </div> #}
    

      <h2>My scripts</h2>
      <p style="color:#FF0000";>
        Note: Since the database is under construction,<br>
        added data may be deleted at any time without<br>
        prior notice.
      </p>
      {% if user.is_authenticated %}
      <div style="border:1px solid black;">
        <ul class="my_datasets_list list-group list-group-flush overflow-auto" id="datasets">

          {% for dataset in user.datasets %}
          <li class="list-group-item">

            <input type="checkbox" id="{{dataset.id}}" name="{{dataset.id}}" value="{{dataset.id}}" class="my_datasets_checkbox">
            <label for="{{dataset.id}}"> {{ dataset.label }} </label>

            <!-- {{ dataset.data }} (Added {{ dataset.date }}) 
            <button type="button" class="close" onClick="deleteNote({{ dataset.id }})">
              <span aria-hidden="true">&times;</span>
            </button>
            -->
            <div class="float-right">
              <!-- (Added {{ dataset.date }}) -->
              <a href="{{ url_for('views.view_dataset', id=dataset.id) }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Details</a>
              <a href="{{ url_for('views.update_dataset', id=dataset.id) }}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Edit</a>
              <a href="/delete/{{dataset.id}}">&times;</a>
            </div>
          </li>
          {% endfor %}
        </ul>
        <a href="{{ url_for('views.add') }}" class="btn btn-primary btn-lg btn-block active" role="button" aria-pressed="true">Add Script</a>
      </div>
      {% else %}
      <a href="/login">Login</a> to be able to add your own datasets here.
      {% endif %}

    </div>

    <!-- Middle column -->
    <div class="col resizable_e">

      <div class="row-md">

      <p id="chartstack">
        <!-- <div overflow="auto" class="row-md" id="chartdiv0" style="height:100px; border: 1px solid"></div> -->
        <!-- <div overflow="auto" class="row-md" id="chartdiv2" style="height:100px; border: 1px solid">Chart 2</div> -->
      </p>
    </div>

  </div>

    <!-- Right column -->
    <div class="col">

      <div class="row-md">
      Plots
      <p id="chartstack">
        <!-- <div overflow="auto" class="row-md" id="chartdiv0" style="height:100px; border: 1px solid"></div> -->
        <!-- <div overflow="auto" class="row-md" id="chartdiv2" style="height:100px; border: 1px solid">Chart 2</div> -->
      </p>
    </div>

  </div>

</div>


{% endblock %}