{% extends "base.html" %}

{% block title %}Learning Simulator{% endblock %}

{% block navbar %}
<div>
    {% if user.is_authenticated %}
      <a href="/my_scripts">My Scripts</a>
      <a href="/logout">Logout</a>
    {% else %}
      <a href="/login">Login</a>
      <a href="/sign_up">Register</a>
    {% endif %}
</div>
{% endblock %}


{% block content %}

<style>
  .hvcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }

  .imglogo {
    /* width: 50%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  }

</style>

<div class="hvcenter">
  <a href="/my_scripts">
    <img class="imglogo" src="{{ url_for('static', filename='landing/image/logo/learningsimulator.png') }}" alt="Learning Simulator">
  </a>
</div>

{% endblock %}
