{% extends "base.html" %}

{% block title %}
Login
{% endblock %} 

{% block content %}

<form method="POST" action="{{ url_for('auth.login') }}">
  {{ form.hidden_tag() }}  <!-- form.csrf_token -->

  {% for key in ['email', 'password'] %}
    <p>
    {{ form[key].label() }}<br>
    {{ form[key](class='form-field-signup') }}
    {% if form[key].errors %}
      {% for error in form[key].errors %}
        <br><span class='form-error'>{{ error }}</span>
      {% endfor %}
    {% endif %}
    </p>
  {% endfor %}

  <p>
    {{ form['remember']() }}{{ form['remember'].label() }}
  </p>

  <p>
  {{ form['submit']() }}
  </p>

<!-- <form method="POST">
  <h3 align="center">Login</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter password"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Login</button>
</form> -->


{% endblock %}
