{% extends "base.html" %}
{% block title %}
Sign Up
{% endblock %} 

{% block content %}

<form method="POST" action="{{ url_for('auth.sign_up') }}">
  {{ form.hidden_tag() }}  <!-- form.csrf_token -->

  {% for key in ['email', 'username', 'password', 'confirm_password'] %}
    <p>
    {{ form[key].label() }}<br>
    {{ form[key](class='form-field-signup') }}
    {% if form[key].errors %}
      {% for error in form[key].errors %}
        <br><span class='form-error'>{{ error }}</span>
      {% endfor %}
    {% endif %}
    </p>
  {% endfor %}

  <p>
  {{ form['submit']() }}
  </p>

  {% endblock %}
