{% extends "base.html" %}
{% block title %}
Learning Simulator
{% endblock %} 


{% block content %}

<div id="div-home"></div>

{% if user.is_authenticated %}
<!-- <div class="row"> -->
<div style="min-height:200px; overflow:hidden; border:#000; border-style: solid;">  

  <!-- <div class="column left" style="border: 2px solid red; resize: both; overflow: hidden;">
    <b>My scripts</b>

    <select multiple id="select-userscripts">
    {% if user.is_authenticated %}
      {% for script in user.scripts %}
        <option value={{ script.id }}>{{ script.name }}</option>
      {% endfor %}
    {% endif %}
    </select>
    
    {% if user.is_authenticated %}
      <button type="button" id="button-createscript">Create New Script</button>
      <button type="button" id="button-deletescript">Delete Selected</button>  
    {% else %}
      <a href="/login">Login</a> to be able to create your own scripts here.
    {% endif %}

  </div> -->

  <div class="column middle">

    <div id="div-scriptname">
      <!-- <label for="input-scriptname">Name of script:&nbsp;</label> -->
      <input id="input-scriptname" maxlength="50" minlength="3" type="text" value="{{ script.name }}" required>
      <button type="button" id="button-savescript" title="Save script">
        <i style="color: white" class="fa fa-save"></i>
      </button>
    </div>

    <div id="editor">
      <textarea id='linecounter' wrap='off' readonly>1</textarea>
      <textarea id="textarea-code" maxlength="10000" wrap="off"
                data-scriptid="{{ script.id }}"
                data-settingsid="{{ settings.id }}">{{ script.code }}</textarea>
    </div>

  
    <div style="margin-bottom: 5px; margin-top: 5px">
      <!-- <button type="button" id="button-savescript">Save</button> -->

      <div style="float: right">
        <input type="checkbox" id="settings-keep">
        <label for="settings-keep" style="vertical-align: middle;">Keep current plots&nbsp;</label>
        <button type="button" id="button-closeall">Close All Figures</button>
      </div>
    </div>

    <!-- <div style="float:right;"> -->
      <button type="button" id="button-run">Run Simulation</button>
      <button type="button" id="button-settings">>></button>
    <!-- </div> -->

<!-- --------------------------- Settings --------------------------- -->

      
  </div>
  
  <div class="column right">
    <div id="plotarea-vert">
      <!-- This is where the plots appear when vertical -->
    </div>
  </div>
  
</div>

<br>


<div style="min-height:200px; overflow:hidden; border:#000; border-style: solid;">
  <div id="plotarea-horiz">
    <!-- This is where the plots appear when horizontal -->
  </div>
</div>

{% else %}
    You are not logged in. <a href="/login">Login</a> to be able to create and edit your own scripts.
{% endif %}


<!-- ======================================================================= -->

<button id="button-showdemo">Demo scripts</button>
<div id="div-demo">

    <div class="row">
      
      <div class="column left" style="background-color:#aaa;">
        <!-- <b>Demo scripts</b> -->

        <select size="10" id="select-demoscripts">
          {% for name in demo_script_names %}
            <option value={{ loop.index }}>{{ name }}</option>
          {% endfor %}
        </select>

      </div>

      <div class="column middle">
        <div id="div-script">
          
          <div>
            <label for="textarea-code-demo">Code:</label><br>              
            <textarea id="textarea-code-demo" readonly></textarea>
          </div>

          <div>
              <button type="button" id="button-run-demo">Run</button>
          </div>

        </div>
      </div>
      
      <div class="column right">
        <div id="plotarea-demo">
          <!-- This is where the plots for demo scripts appear -->
        </div>
      </div>

    </div>

</div>

<!-- --------------------------- -->

<div id="div-errordlg-modal-bg" class="modal-bg">
    <!-- Modal content -->
    <div id="div-errordlg" class="div-modaldlg">
        <span id="errdlg-close" class="modaldlg-close">&times;</span>
        <p>
          <div id="div-errmsg"></div>
        </p>
        <button id="button-errdlg-details" value="Details >>">Details >></button>
        <p>
          <textarea id="textarea-errdlg-details"></textarea>
        </p>
    </div>
</div>

<!-- --------------------------- -->

<div id="div-settingsdlg-modal-bg" class="modal-bg">
  <!-- Modal content -->
  <div id="div-settingsdlg" class="div-modaldlg">
      <!-- <span id="settingsdlg-close" class="modaldlg-close">&times;</span> -->

      <!-- Plot type -->
      <div style="margin-bottom: 5px">
        <label style="display:inline-block; width:120px">Plot as:</label>
        <!-- <select id="settings-plottype" style="width:130px;"> -->
        <select id="settings-plottype" style="width:130px;">
          <option value="plot">Plotly chart</option>
          <option value="image">Matplotlib image</option>
        </select>
        <select id="settings-filetype-mpl" class="settings-mpl inline">
          <option value="png">png</option>
          <option value="jpg">jpg</option>
          <option value="svg">svg</option>
          <option value="pdf">pdf</option>
        </select>
        <select id="settings-filetype-plotly" class="settings-plotly inline">
          <option value="png">png</option>
          <option value="jpeg">jpeg</option>
          <option value="webp">webp</option>
          <option value="svg">svg</option>
        </select>
      </div>

      <!-- Horizontal/vertical plot orientation -->
      <div style="margin-bottom: 5px">
        <label style="display:inline-block; width:120px">Plot orientation:</label>
        <select id="settings-plotorientation" style="width:130px;">
          <option value="vertical">Vertical</option>
          <option value="horizontal">Horizontal</option>
        </select>
      </div>

      <!-- Plot size -->
      <fieldset style="margin-left:0; margin-bottom: 5px;">
        <legend id="settings-size"></legend>
        <div style="margin-bottom: 5px">
          <label style="float:left; width:55px">Width:</label>
          <input id="settings-plotwidth" type="number" value="300" min="10" max="1000" style="width:50px;">
        </div>
        <div>
          <label style="float:left; width:55px">Height:</label>
          <input id="settings-plotheight" type="number" value="300" min="10" max="1000" style="width:50px;">
        </div>
      </fieldset>

      <!-- Legend positioning -->
      <fieldset style="margin-left:0; margin-bottom: 5px;" class="settings-plotly">
        <legend>@legend</legend>
        <!-- <div style="margin-bottom: 5px">
          <label style="float:left; width:150px">Relative x-coordinate:</label>
          <input id="settings-legendrelx" type="text" style="width:40px;" />
          <label>&nbsp;Anchor: </label>
          <select id="settings-legendanchorx" style="width:70px;">
            <option value="left">Left</option>
            <option value="middle">Middle</option>
            <option value="right">Right</option>
          </select>
        </div>

        <div style="margin-bottom: 5px">
          <label style="float:left; width:150px">Relative y-coordinate:</label>
          <input id="settings-legendrely" type="text" style="width:40px;" />
          <label>&nbsp;Anchor: </label>
          <select id="settings-legendanchory" style="width:70px;">
            <option value="bottom">Bottom</option>
            <option value="middle">Middle</option>
            <option value="top">Top</option>
          </select>
        </div> -->

        <div>
          <label style="float:left; width:150px">Default orientation:</label>
          <select id="settings-legendorientation" style="width:100px;">
            <option value="v">Vertical</option>
            <option value="h">Horizontal</option>
          </select>
        </div>
      </fieldset>

      <!-- Colors -->
      <fieldset style="margin-left:0; margin-bottom: 5px;" class="settings-plotly">
        <legend>Colors</legend>
        <div style="margin-bottom: 5px">
          <label style="float:left; width:150px">Paper:</label>
          <input id="settings-paperbgcolor" type="color" value="#ffffff" style="vertical-align: middle;" />
        </div>
        <div>
          <label style="float:left; width:150px">Plot background:</label>
          <input id="settings-plotbgcolor" type="color" value="#ffffff" style="vertical-align: middle;" />
        </div>
      </fieldset>

      <!-- Keep current plots -->
      <!-- <div style="margin-bottom: 5px">
        <input type="checkbox" id="settings-keep" style="vertical-align: middle; margin-left: 0px">
        <label for="settings-keep" style="vertical-align: middle;"> Keep current plots when making new plots</label><br>
      </div> -->

      <div style="display:flex; justify-content: flex-end; margin-right: 2px;">
        <button id="settingsdlg-ok">OK</button>
        <button id="settingsdlg-cancel" style="margin-left: 5px;">Cancel</button>
      </div>

  </div>
</div>



{% endblock %}
