body {
    font-family:'Courier New', Courier, monospace;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 5px;
  -moz-box-sizing: border-box;  /* Include the padding and border in textarea's total width and height */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.left {
  width: 20%;
}
.middle {
  width: 40%;
}
.right {
  width: 40%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#textarea-code {
  width: 100%;
  height: 400px;
  resize: none;
}

#textarea-code-example {
  height: 400px;
  width: 100%;
}

/* Font in list of script names */
select {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 4px;
}

#button-deletescript {
    float: right;
}

/* To make script name input field fill 100% of remaining place */
#div-scriptname {
  display: flex;
  flex-direction: row
}
#input-scriptname {
  flex: 1
}

.form-error {
  color: red;
}

.form-field-signup {
  width: 300px;
}

/* To align checkboxes with its label (at least a little better) */
input[type=checkbox] {
  vertical-align: middle;
}

/* Remove the outline displayed for a Textarea upon selection */
#linecounter:focus-visible,
#textarea-code:focus-visible {
    outline:none;
}

#textarea-code, #linecounter {
  height: 400px;
  resize: none;
  margin-top: 5px;
  margin-bottom: 5px;
}

#linecounter {
  float: left;
  width: 20px;
  overflow-y: hidden;
  overflow-x: hidden;  /* To be on the safe side, for very large line numbers. */
  text-align: right;
  background-color:#ccc;
  border-color: #ccc;
  color: #909090;
}
