div#left-column {
    zoom: 0.85;
}

ul.hummingbird-base {
    padding: 10px;  /* To override hummingbird's default 40 */
}

div.container {
    margin: 0px;  /* To override hummingbird's default 371.5 */
}

div.resizable_e {
    padding-right: 15px;

    /* This width is used in .ui-resizable-e */
    border-right: 6px solid gray;
}

.ui-resizable-e {
    top: 0px;

    /* 100% - half of this width + half of div.resizable_e border-right */
    left: -webkit-calc(100% - 10px + 3px);  
    left:    -moz-calc(100% - 10px + 3px);
    left:         calc(100% - 10px + 3px);

    background-image: url(./img/lrarrow.png);

    /* This width is used in .ui-resizable-e */
    width: 20px;

    background-repeat: no-repeat;
    background-size: 20px 20px;
}

div.resizable_s {
    padding-bottom: 0px;
    /* border-bottom: 6px solid gray; */
    height: 50px;
    min-height: 50px;
}

.ui-resizable-s {
    background-color: gray;
    left: 0px;

    top: -webkit-calc(100% - 10px + 3px);  
    top:    -moz-calc(100% - 10px + 3px);
    top:         calc(100% - 10px + 3px);
    
    height: 20px;
}

[data-toggle="collapse"] .fa:before {  
    content: "\f139";
}
  
[data-toggle="collapse"].collapsed .fa:before {
    content: "\f13a";
}

.hummingbird-treeview,
.hummingbird-treeview *
{
    list-style: none;
    font-size: 20px;
    line-height: 24px;
}

.hummingbird-treeview input[type=checkbox] {
    width : 16px;
    height :16px;
    padding: 0px;
    margin: 0px;
}

/* For editable table */
td.pt-3-half {  /* .pt-3-half */
    padding: 2px;
    vertical-align: middle;
}

#script-textarea {
    height: 400px;
}
