/* body {
    font-family:'Courier New', Courier, monospace;
} */

.row {
  height: 450px;
  border: #000;
  border-style: solid;
  /* overflow-x: auto; */
  /* overflow-y: hidden; */
  /* display: inline-block;  */
  /* white-space: nowrap; */
  /* float:left; */
  /* display:flex; */
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
}
.left {
  padding: 5px;
  width: 300px;
  height: 900px;
}
.middle {
  padding: 5px;
  height: 900px;
  width: 600px;
  border: 1px solid red;
  resize: both;
  overflow: hidden;
}
.right {
  padding: 5px;
  width: auto;
  border: 3px solid green;
}
.preview {
  margin-left: 5px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#textarea-code {
  width: 100%;
  padding: 0 0 0 5px;
}

#textarea-code-demo {
  height: 400px;
  width: 100%;
}

#textarea-code-preview {
  height: 900px;
  width: 600px;
  -moz-box-sizing: border-box;  /* Include the padding and border in textarea's total width and height */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color:gray;
}

/* Font in list of script names */
#select-userscripts, #select-demoscripts {
    width: 100%;
    height: calc(100% - 70px);
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 4px;
}

#button-deletescript {
    float: right;
}

#button-createscript {
  float: right;
  margin-bottom: 4pt;
}

/* To make script name input field fill 100% of remaining place */
#div-scriptname {
  display: flex;
  flex-direction: row;
}
#input-scriptname {
  flex: 1;
}

.form-error {
  color: red;
}

.form-field-signup {
  width: 300px;
}

/* To align checkboxes with its label (at least a little better) */
input[type=checkbox] {
  vertical-align: middle;
  margin-right: -1px;
  accent-color: #4CAF50;  /* Background color in checkbox when selected */
}

/* Remove the outline displayed for a textarea upon selection */
#linecounter:focus-visible,
#textarea-code:focus-visible {
    outline:none;
}

#textarea-code, #linecounter {
  height: 100%;
  resize: none;
  /* margin-top: 5px; */
  /* margin-bottom: 5px; */
  line-height: 18px;
  font-size: 15px
}

#linecounter {
  padding: 0;
  float: left;
  width: 20px;
  overflow-y: hidden;
  overflow-x: hidden;  /* To be on the safe side, for very large line numbers. */
  text-align: right;
  background-color:#ccc;
  border-color: #ccc;
  color: #909090;
}

#editor {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  height: calc(100% - 110px);

  /* border: 2px solid blue; */
}

button {
    cursor: pointer;
    background-color: #4CAF50;
}

#button-run {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 13px 30px;
  text-align: center;
  border-radius: 6px;
  font-size: 16px;
  margin-bottom: 4px;
  margin-left: 2px;
}

#button-settings {
  margin-left: -3px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;
  border-radius: 6px;
  font-size: 16px;
  margin-bottom: 4px;
}

#button-closeall {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;
  border-radius: 6px;
  font-size: 16px;
  margin-bottom: 4px;
}

#button-savescript {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  border-radius: 6px;
  font-size: 20px;
  margin-left: 4px;
}


/* ============================================================================= */
/* The error "dialog box". */
/* The Modal (background) */
.modal-bg {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.div-modaldlg {
  background-color: #fefefe;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  /* border: 1px solid #888; */
  border: 3px solid black;
}

#div-errordlg {
  width: 60%;
}

#div-settingsdlg {
  width: 450px;
}

/* The Close Button */
.modaldlg-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -10px;
}

.modaldlg-close:hover,
.modaldlg-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#textarea-errdlg-details {
  width: 100%;
  height: 250px;
  resize: none;
}

/* Remove the outline displayed for a textarea upon selection */
#textarea-errdlg-details:focus-visible {
    outline:none;
}

/* ============================================================================= */
/* For showing/hiding the demo scripts */
#button-showdemo {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, #button-showdemo:hover {
  background-color: #555;
}

#button-showdemo:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  /* margin-left: 5px; */
}

.active:after {
  content: "\2212";
}

#div-demo {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

/* ============================================================================= */
/* For resizing. */
/* #div-resize {
  background: #444857;
  height: 100%;
  width: 14px;
  cursor: col-resize;
     flex-shrink: 0;
     position: relative;
  z-index: 10;
} */

/* ============================================================================= */
/* For landing page. */
.hvcenter { /* Horizontal and vertical centering. */
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.imglogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}