SECRET_KEY = '410d1f4eb7412ee625ed5a3562ec1cc6'

# The MySQL db
DB_USER = "root"
DB_PASSWORD = "hejsan123"
DB_HOST_ADDRESS = "localhost"
DB_NAME = f"db_weblesim"
SQLALCHEMY_DATABASE_URI = f"mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST_ADDRESS}/{DB_NAME}"

# To avoid warning. We do not use the Flask-SQLAlchemy event system, anyway.
SQLALCHEMY_TRACK_MODIFICATIONS = False

# If using SQLite db:
# SQLALCHEMY_DATABASE_URI = f'sqlite:///{DB_NAME}'


# Possibly fixing "Lost connection to MySQL server during query", but they became deprecated in SQLAlchemy 3, we use 3.0.4.
# SQLALCHEMY_POOL_RECYCLE = 280
# SQLALCHEMY_POOL_TIMEOUT = 10
